.about-me {
  color: #ffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 60px 0px;
  height: 100%;
  max-width: 100%;
}
.about-me p {
  margin-top: 10px;
  padding-bottom: 45px;
  font-size: 25px;
  text-align: justify;
}
.title-a {
  padding: 25px 20px;
  margin-top: 25px;
  font-size: 40px;
  text-align: center;
}

/* Perfiles */
.profile {
  display: flex;
  background-color: #5a5a5a;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 25px 0;
  border-radius: 10px;
  box-shadow: #fff 2px 2px 5px;
}
.profile-img {
  margin: 30px;
  border-radius: 25%;
  height: 150px;
  width: 150px;
}
.profile-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-right: 40px;
}
.profile-container p,
h1,
h2 {
  text-align: justify;
}

@media (max-width: 1600px) {
  .about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 60px;
    height: 900px;
    max-width: 100%;
    height: max-content;
  }
  .title-a {
    padding: 0 20px 20px 20px;
    margin-top: 25px;
    font-size: 40px;
    text-align: center;
  }
  }
  .about-me p {
    margin-top: 10px;
    padding-bottom: 35px;
    font-size: 15px;
    text-align: justify;
  }
  /*perfiles */
  .profile {
    display: flex;
    background-color: #5a5a5a;
    width: 95%;
    justify-content: center;
    align-items: center;
    margin: 25px 0;
    border-radius: 10px;
    box-shadow: #fff 2px 2px 5px;
  }
  .profile-img {
    margin: 30px;
    border-radius: 25%;
    height: 125px;
    width: 125px;
  }
  .profile-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-right: 25px;
  }
  .profile-container p,
  h1,
  h2 {
    text-align: justify;
  }

@media (max-width: 768px) {
  .profile {
    display: flex;
    flex-direction: column;
    height: max-content;
  }
  .profile-img {
    margin: 30px 0 0 0;
    padding: 0;
    border-radius: 25%;
    height: 200px;
    width: 200px;
  }
  .profile-container {
    display: flex;
    align-items: center;
    padding: 0 25px 0 25px;
    margin: 0 0 10px 0;
  }
  .profile-container p,
  h1,
  h2 {
    text-align: justify;
    margin: 0;
    padding: 5px;
  }
}
.title-a {
  padding: 175px 20px 20px 20px;
  margin-top: 25px;
  font-size: 40px;
  text-align: center;
}