* {
  box-sizing: border-box;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

main {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
  top: 100px;
}

#en-vivo {
  display: none;
  background-color: rgb(255, 0, 0);
  color: rgb(255, 255, 255);
  padding: 5px;
  position: fixed;
  top: 70px;
  right: 10px;
  width: 100px;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  border-radius: 10px;
}
#en-vivo:hover{
  background-color: #fff;
}
#en-vivo a{
text-decoration: none;
color: rgb(255, 255, 255);
}

#en-vivo a:hover {
  cursor: pointer;
  color: red;
}

.about-me {
  flex-wrap: wrap;
  width: 80%;
  margin-bottom: 80px;
  height: max-content;
}

.container-1 {
  display: flex;
  flex-direction: column;
  text-align: justify;
  align-items: center;


}

.container-1 p {
  margin: 0;
  padding: 20px 20px;
}

/* Perfiles */
.profiles {
  height: max-content;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
  align-items: stretch;

}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #05355a;
  width: 250px;
  margin: 20px 10px 10px 10px;
  border-radius: 10px;
  box-shadow: #000000 2px 2px 4px;
}

.profile-img {
  padding: 0;
  margin: 30px 15px 0 15px;
  border-radius: 25px;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.profile-container {
  padding: 5px 15px 15px 15px;
  margin: 0;
}
.profile-container h1{
  font-size: 16px;
  text-align: center;
  color: #e4196e;
}

.profile-container h2, 
.profile-container p{
  font-size: 14px;
  padding: 10px 0;
}

.social-about {
  margin-bottom:10px;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

.social-about li {
  list-style: none;
}

.social-about a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 40px;
  height: 40px;
  color: #fff;
  border-radius: 50%;
  font-size: 20px;
  transition: background-color 0.3s;
}

.social-about a:hover {
  background-color: #fff;
  color: #000000;
}

.profile-container p,
h1,
h2 {
  text-align: justify;
}
.title-tec{
  font-size: 24px;
  text-align: center;
  padding: 40px 0;
}


footer {
  width: 100%;
}
@media (max-width: 768px){
  .about-me{
    width: 100%;
  }
  .profile{
    width: 85%;
  }
}