* {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  height: max-content;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  background-image: url(../images/FONDO.jpg);
  background-color: rgba(0, 23, 153, 0.7);
  background-blend-mode: multiply;
  background-size: cover;
  background-attachment: fixed;
}

h1 {
  width: 80%;
  text-align: center;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  font-size: 26px;
}
p{
  background-color: #e4196e;
  width: max-content;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  border-radius: 10px;
  font-size: 26px;
  padding: 2px 4px;
}
.portada {
  width: 300px;
  height: 300px;
  position: absolute;
  top: 32%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  border-radius: 50%;
  border: rgba(177, 177, 177, 0.7) solid 20px;
}

.audio-container {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  background: transparent;
  border-radius: 25px;
  position: absolute;
  top: 80%;
  left: 50%;
  height: max-content;
  transform: translate(-50%, -50%);
}

.play-btn {
  width: 150px;
  height: 150px;
  background-color: #ffff;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  color: #000;
}

.pause-btn {
  width: 150px;
  height: 150px;
  background-color: #ffff;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  color: #000;
}
.pause-btn:hover,
.play-btn:hover{
  background-color: #e4196e;
  transition: 0.5s;
}

.play-btn.playing {
  background-color: #f44336;
  border-radius: 10px;
}

input[type="range"] {
  width: 90vw;
  height: 1vw;
  -webkit-user-drag: none;
  background-color: #05355a;
  margin-right: 10px;
  border-radius: 10px;
  padding: 40px 0;
}


input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #e4196e;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #e4196e;
  cursor: pointer;
}


.social {
  position: absolute;
  display: flex;
  justify-content: space-around;
  color: rgb(255, 255, 255);
  padding: 10px;
  top: 60%;
  width: 100%;
  text-align: center;
  font-weight: bold;
  z-index: 1000;
}

.social ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
}

.social li {
  margin-right: 10px;
}

.social a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  color: #fff;
  border-radius: 50%;
  /* background-color: #05355a; */
  font-size: 26px;
  transition: background-color 0.3s;
  text-decoration: none;
}

.social a:hover {
  background-color: #fff;
  color: #333;
}


@media (max-width: 768px) {
  .portada {
    width: 225px;
    height: 225px;
    top: 30%;
  }

  h1 {
    top: 52%;
    font-size: 22px;
  }
p{

  font-size: 22px;
}
  .audio-container {
    top: 80%;
    height: max-content;
  }

  .pause-btn {
    width: 125px;
    height: 125px;
  }

  .play-btn {
    width: 125px;
    height: 125px;
  }
}