* {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  background-color: #fff;
}

.header {
  background-color: #ffffff;
  height: 60px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: #4e4e4e 2px 4px 4px;
}

.nav {
  display: flex;
  justify-content: flex-end;
  max-width: 992px;
  margin: 0 auto;
}

.nav-link {
  color: #000000;
  text-decoration: none;
}

.logo {
  font-size: 30px;
  font-weight: bold;
  padding: 0px;
  line-height: 60px;
  margin: 0 10px;
  width: max-content;
}

.nav-menu {
  display: flex;
  list-style: none;
}

.nav-menu-item {
  font-size: 18px;
  margin: 0 10px;
  line-height: 60px;
  text-transform: uppercase;
  width: max-content;
}

.nav-menu-link {
  padding: 8px 12px;
  border-radius: 3px;
}

.nav-menu-link:hover,
.nav-menu-link_active {
  background-color: #5a5a5a;
  transition: 0.5s;
}

.nav-toggle {
  color: rgb(0, 0, 0);
  background: none;
  border: none;
  font-size: 30px;
  padding: 0 20px;
  line-height: 60px;
  display: none;
  cursor: pointer;
}
.logo {
  height: 60px;
}
main {
  margin-top: 0px;
  color: #ffffff;
  padding: 0;
}

.video-container {

  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 15%;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 350px;
}

#en-vivo {
  display: none;
  background-color: rgb(255, 0, 0);
  color: rgb(255, 255, 255);
  padding: 10px;
  position: fixed;
  top: 80px;
  right: 20px;
  width: 150px;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  border-radius: 10px;
}
#en-vivo:hover{
  cursor: pointer;
  background-color: #fff;
  color: red;
}

.imagen-del-dia {
  background-color: #f3f3f3;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px;
  justify-content: center;
  height: max-content;
  object-fit: contain;

}
.imagen-del-dia h1 {
  color: #4e4e4e;
  margin-bottom: 50px;
  font-size: 40px;
}
.imagen-del-dia img {
  display: none;
  width: 70%;
  box-shadow: #161616 5px 5px 5px;
}

/* slider */

.events {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 900px;
  justify-content: center;
}
.events h1 {
  color: #4e4e4e;
  margin-bottom: 50px;
  font-size: 40px;
}
.slider {
  position: relative;
  width: 100%;
  height: 600px;
  overflow: hidden;
}
.slider-wrapper {
  position: relative;
  width: 300%;
  height: 100%;
  left: 0;
  transition: left 0.5s ease;
}

.slider-wrapper img {
  float: left;
  width: 33.33%;
  height: 100%;
  object-fit: contain;
  cursor: pointer;
}

.slider-prev,
.slider-next {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  width: max-content;
  height: max-content;
  border: none;
  color: #ffffff;
  font-size: 50px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  background-color: #000000;
  border-radius: 100%;
  margin: 0;
  padding: 2px 5px 0 4px;
}
.slider button:hover {
  margin: 0;
  padding: 2px 5px 0 4px;
  background-color: #fff;
  color: #000;
}
.slider-prev {
  left: 200px;
}

.slider-next {
  right: 200px;
}


/* Estilos para el elemento modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  display: block;
  max-width: 90%;
  max-height: 90%;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}


/* footer */

footer {
  background-color: #000000;
  color: #fff;
  padding: 40px 0;
  margin: 0;
}

.container-footer {
width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

.footer-info h3,
.footer-social h3 {
  margin-bottom: 20px;
}

.footer-info p {
  margin: 0;
}

.footer-social ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
}

.footer-social li {
  margin-right: 10px;
}

.footer-social a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  color: #fff;
  border-radius: 50%;
  background-color: #000000;
  font-size: 20px;
  transition: background-color 0.3s;
  text-decoration: none;
}

.footer-social a:hover {
  background-color: #fff;
  color: #333;
}

@media (max-width: 1600px) {
  body {
    padding: 0px 0;
  }
  .video-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 15%;
  }
  
  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 235px;
  }
  
  /* slider */

  .events {
    height: 500px;

    margin-bottom: 0;
    padding-bottom: 0;
  }
  .events h1 {
    margin: 0 0 10px 0;
    font-size: 30px;
  }
  .slider {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
  }

  .slider-prev {
    left: 300px;
  }
  
  .slider-next {
    right: 300px;
  }
  
  .imagen-del-dia {
    height: 650px;

  }
  .imagen-del-dia h1 {
    margin-bottom: 30px;
    font-size: 30px;
  }
  .imagen-del-dia img {
    display: none;
    padding-bottom: 40px;
    width: 50%;
  }
  
  /* footer */
  footer {
    background-color: #000000;
    color: #fff;
    padding: 40px 0;
    height: 200px;
    display: flex;
    justify-content: flex-end;
    align-items: self-end;
  }
  .container-footer {
    align-items: center;
    text-align: center;
  }
}

@media (max-width: 768px) {
  body {
    padding: 0px 0;
  }
  .header {
    background-color: #ffffff;
    height: 60px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
  }
  .logo {
    font-size: 30px;
    font-weight: bold;
    padding: 0 20px;
    height: 60px;
  }
  .nav {
    justify-content: space-between;
  }
  .nav-menu {
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    background-color: #ffffff;
    position: fixed;
    left: 0;
    top: 60px;
    width: 100%;
    padding: 20px 0;

    height: calc(100% - 60px);
    overflow-y: auto;

    left: 100%;
    transition: left 0.3s;
  }
  .nav-menu-item {
    font-size: 18px;
    margin: 0 10px;
    line-height: 70px;
    text-transform: uppercase;
    width: max-content;
  }
  .nav-menu-link:hover,
  .nav-menu-link_active {
    background: none;
    color: #83c5f7;
    transition: 0.5s;
  }
  .nav-toggle {
    display: block;
  }
  .nav-menu_visible {
    left: 0;
  }

  .video-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 15%;
  }
  
  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
  }
  
  /* slider */

  .events {
    padding-top: 275px;
    height: 100%;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .events h1 {
    margin: 0 0 10px 0;
    font-size: 30px;
  }
  .slider {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
  }

  .slider-prev {
    left: 20px;
  }
  
  .slider-next {
    right: 20px;
  }
  
  .imagen-del-dia {
    height: 100%;

  }
  .imagen-del-dia h1 {
    margin-bottom: 30px;
    font-size: 20px;
  }
  .imagen-del-dia img {
    display: none;
    padding-bottom: 40px;
    width: 100%;
  }

  footer {
    color: #fff;

    height: 100%;
    justify-content: center;
  }
  .container-footer {
    flex-direction: column;
    text-align: center;
  }
  .footer-info h3,
  .footer-social h3 {
    margin-bottom: 20px;
  }
  .footer-info p {
    margin: 0;
  }
  .footer-social ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
  }
  .footer-social li {
    margin-right: 10px;
  }
  .footer-social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    color: #fff;
    border-radius: 50%;
    background-color: #161616;
    font-size: 20px;
    transition: background-color 0.3s;
  }
  .footer-social a:hover {
    background-color: #fff;
    color: #333;
  }
}
