* {
  margin: 0;
  box-sizing: border-box;
  /* outline: solid rgb(253, 253, 253) 1px; */
}

body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 80px 0px 0;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(240)'%3E%3Cstop offset='0' stop-color='%23ffffff'/%3E%3Cstop offset='1' stop-color='%23000000'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='540' height='450' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.1'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
}

.header {
  background-color: #ffffff;
  height: 80px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: #4e4e4e 2px 4px 4px;
}

.nav {
  display: flex;
  justify-content: space-evenly;
  max-width: 992px;
  margin: 0 auto;  
}

.nav-link {
  color: #000000;
  text-decoration: none;
}

.logo {
  font-size: 30px;
  font-weight: bold;
  padding: 0px;
  line-height: 80px;
  margin: 0 10px;
  width: max-content;
}

.nav-menu {
  display: flex;
  margin-right: 40px;
  list-style: none;
}

.nav-menu-item {
  font-size: 18px;
  margin: 0 10px;
  line-height: 80px;
  text-transform: uppercase;
  width: max-content;
}

.nav-menu-link {
  padding: 8px 12px;
  border-radius: 3px;
}

.nav-menu-link:hover,
.nav-menu-link_active {
  background-color: #5a5a5a;
  transition: 0.5s;
}

.nav-toggle {
  color: rgb(0, 0, 0);
  background: none;
  border: none;
  font-size: 30px;
  padding: 0 20px;
  line-height: 60px;
  display: none;
  cursor: pointer;
}

.home {
  height: 768px;
  max-width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.avatar-picture {
  margin: 0 10px;
  border-radius: 15%;
  height: 350px;
}

.home-w {
  font-size: 40px;
  color: white;
  margin: 0 10px;
}

.logo {
  height: 80px;
}

/* slider */

.slider {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
  
}

.slider-wrapper {
  position: relative;
  width: 300%;
  height: 100%;
  left: 0;
  transition: left 0.5s ease;
}

.slider-wrapper img {
  float: left;
  width: 33.333%;
  height: 100%;
  object-fit: contain;
  cursor: pointer;
}

.slider-prev,
.slider-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  border: none;
  background: transparent;
  color: #ffffff;
  font-size: 50px;
  cursor: pointer;
}

.slider-prev {
  left: 50px;
}

.slider-next {
  right: 50px;
}

/* Estilos para el elemento modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  display: block;
  max-width: 90%;
  max-height: 90%;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

/* acerca de nosotros */

.about-me {
  height: 768px;
  font-size: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.about-me p {
  padding-top: 20px;
  margin: auto;
  text-align: justify;
}

.content-about {
  margin: 20px;
  text-align: center;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icons {
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.icon-hcj {
  height: 150px;
}

/* Seccion de servicios */

.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
  height: 768px;
  justify-content: center;
}

.services h1 {
  padding: 0;
  font-size: 50px;
}

.services h2 {
  padding: 0;
  margin-top: 10px;
  font-size: 40px;
  text-align: center;
}

.services ul {
  padding: 0;
}

.services li {
  padding: 0;
  list-style: none;
  margin-top: 10px;
  font-size: 25px;
  text-align: center;
}

/* Seccion de informacion de contacto */

.barra-reproduccion {
  position: fixed;
  display: flex;
  flex-direction: column;
  bottom: 0;
  box-sizing: border-box;
  width: 300px;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: transparent;
}

.barra-reproduccion img {
  position: absolute;
  top: -17px;
  width: 100%;
  height: 115px;
  border-radius: 5% 5%;
}

.img-player {
  position: absolute;
  display: flex;
  top: 0px;
  height: 100px;
  width: 300px;
}

.barra-reproduccion iframe {
  border: none;
  padding: 0;
  margin: 0;
  border-radius: 0;
}

/* Estilos para pantallas de escritorio */
@media only screen and (min-width: 768px) {
  .barra-reproduccion {
    left: 0;
    bottom: 0;
    margin: 0 0 5px 5px;
    width: 300px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

/* Estilos para dispositivos móviles */
@media only screen and (max-width: 767px) {
  .barra-reproduccion {
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
  }
}

/* footer */

footer {
  background-color: #000000;
  color: #fff;
  padding: 40px 0;
}

.container-footer {
  max-width: 1280px;
  margin: 0 100px;
  padding: 0 auto;
  box-sizing: border-box;
  display: flex;
  justify-content: end;
}

.footer-info h3,
.footer-social h3 {
  margin-bottom: 20px;
}

.footer-info p {
  margin: 0;
}

.footer-social ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
}

.footer-social li {
  margin-right: 10px;
}

.footer-social a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  color: #fff;
  border-radius: 50%;
  background-color: #000000;
  font-size: 20px;
  transition: background-color 0.3s;
  text-decoration: none;
}

.footer-social a:hover {
  background-color: #fff;
  color: #333;
}

@media (max-width: 768px) {
  .header {
    background-color: #ffffff;
    height: 60px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
  }
  .logo {
    font-size: 30px;
    font-weight: bold;
    padding: 0 20px;
    height: 60px;
  }
  .nav {
    justify-content: space-between;
  }
  .nav-menu {
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    background-color: #ffffff;
    position: fixed;
    left: 0;
    top: 60px;
    width: 100%;
    padding: 20px 0;

    height: calc(100% - 60px);
    overflow-y: auto;

    left: 100%;
    transition: left 0.3s;
  }
  .nav-menu-item {
    font-size: 18px;
    margin: 0 10px;
    line-height: 70px;
    text-transform: uppercase;
    width: max-content;
  }
  .nav-menu-link:hover,
  .nav-menu-link_active {
    background: none;
    color: #83c5f7;
    transition: 0.5s;
  }
  .nav-toggle {
    display: block;
  }
  .nav-menu_visible {
    left: 0;
  }
  .home {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding-bottom: 100%;
  }
  .avatar-picture {
    position: relative;
    top: 80px;
    height: 200px;
    width: 200px;
    align-items: center;
  }
  .home-w {
    position: relative;
    top: 125px;
    width: 90%;
    text-align: center;
    display: flex;
    justify-content: center;
  }

  .slider-wrapper img {
    height: auto;
    object-fit: cover;
  }

  .slider-prev,
  .slider-next {
    display: block;
  }

  footer {
    background-color: #000000;
    color: #fff;
    padding: 40px 0;
    height: 500px;
  }
  .container-footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
.footer-info h3,
.footer-social h3 {
  margin-bottom: 20px;
}
.footer-info p {
  margin: 0;
}
.footer-social ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
.footer-social li {
  margin-right: 10px;
}
.footer-social a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  color: #fff;
  border-radius: 50%;
  background-color: #000000;
  font-size: 20px;
  transition: background-color 0.3s;
}
.footer-social a:hover {
  background-color: #fff;
  color: #333;
}
