* {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(../images/cover.webp);
  background-attachment: fixed;
  background-size: cover;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.25);
  background-blend-mode: multiply;
}

.header {
  background-color: #ffffff;
  height: 60px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: #4e4e4e 2px 4px 4px;
}

.nav {
  display: flex;
  justify-content: flex-end;
  max-width: 992px;
  margin: 0 auto;
}

.nav-link {
  color: #000000;
  text-decoration: none;
}

.logo {
  font-size: 30px;
  font-weight: bold;
  padding: 0px;
  line-height: 60px;
  margin: 0 10px;
  width: max-content;
}

.nav-menu {
  display: flex;
  list-style: none;
}

.nav-menu-item {
  font-size: 18px;
  margin: 0 10px;
  line-height: 60px;
  text-transform: uppercase;
  width: max-content;
}

.nav-menu-link {
  padding: 8px 12px;
  border-radius: 3px;
}

.nav-menu-link:hover,
.nav-menu-link_active {
  background-color: #5a5a5a;
  transition: 0.5s;
}

.nav-toggle {
  color: rgb(0, 0, 0);
  background: none;
  border: none;
  font-size: 30px;
  padding: 0 20px;
  line-height: 60px;
  display: none;
  cursor: pointer;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.logo {
  height: 60px;
}

.imagen-del-dia {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
  height: 900px;
  justify-content: center;
}
.imagen-del-dia h1 {
  margin-bottom: 50px;
  font-size: 40px;
}
.imagen-del-dia img {
  display: none;
  padding-bottom: 40px;
  max-width: 80%;
}

/* slider */

.events {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 900px;
  justify-content: center;
}
.events h1 {
  margin-bottom: 50px;
  font-size: 40px;
}
.slider {
  position: relative;
  width: 100%;
  height: 600px;
  overflow: hidden;
}
.slider-wrapper {
  position: relative;
  width: 300%;
  height: 100%;
  left: 0;
  transition: left 0.5s ease;
}

.slider-wrapper img {
  float: left;
  width: 33.33%;
  height: 100%;
  object-fit: contain;
  cursor: pointer;
}

.slider-prev,
.slider-next {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  width: max-content;
  height: max-content;
  border: none;
  color: #ffffff;
  font-size: 50px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  background-color: #000000;
  border-radius: 100%;
  margin: 0;
  padding: 2px 5px 0 4px;
}
.slider button:hover {
  margin: 0;
  padding: 2px 5px 0 4px;
  background-color: #fff;
  color: #000;
}
.slider-prev {
  left: 50px;
}

.slider-next {
  right: 50px;
}

/* slider botons */


/* Estilos para el elemento modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  display: block;
  max-width: 90%;
  max-height: 90%;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

/* acerca de nosotros */

.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 0;
  height: 900px;
  max-width: 80%;
  height: max-content;
}
.about-me h1 {
  padding-bottom: 20px;
  margin-top: 25px;
  font-size: 40px;
  text-align: center;
}
.about-me p {
  margin-top: 10px;
  padding-bottom: 45px;
  font-size: 25px;
  text-align: justify;
}

/* Perfiles */
.profile {
  display: flex;
  background-color: #5a5a5a;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 25px 0;
  border-radius: 10px;
  box-shadow: #fff 2px 2px 5px;
}
.profile-img {
  margin: 30px;
  border-radius: 25%;
  height: 150px;
  width: 150px;
}
.profile-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-right: 40px;
}
.profile-container p,
h1,
h2 {
  text-align: justify;
}

/* Seccion de servicios */

.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 0 0 0;
  height: max-content;
  width: 80%;
}

.services h1 {
  padding: 0;
  font-size: 40px;
}

.services h2 {
  padding: 0;
  margin-top: 10px;
  font-size: 30px;
  text-align: center;
}

.services ul {
  padding: 0 0 70px 0;
  /* margin: 0 100px; */
}

.services li {
  padding: 0;
  list-style: none;
  margin-top: 10px;
  font-size: 25px;
  text-align: justify;
}

/* Seccion de informacion de contacto */

.barra-reproduccion {
  position: fixed;
  display: flex;
  flex-direction: column;
  bottom: 0;
  box-sizing: border-box;
  width: 300px;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: transparent;
}

.barra-reproduccion img {
  position: absolute;
  top: -17px;
  width: 100%;
  height: 115px;
  border-radius: 5% 5%;
}

.img-player {
  position: absolute;
  display: flex;
  top: 0px;
  height: 100px;
  width: 300px;
}

.barra-reproduccion iframe {
  border: none;
  padding: 0;
  margin: 0;
  border-radius: 0;
}

/* footer */

footer {
  background-color: #000000;
  color: #fff;
  padding: 40px 0;
}

.container-footer {
  max-width: 1280px;
  margin: 0 100px;
  padding: 0 auto;
  box-sizing: border-box;
  display: flex;
  justify-content: end;
}

.footer-info h3,
.footer-social h3 {
  margin-bottom: 20px;
}

.footer-info p {
  margin: 0;
}

.footer-social ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
}

.footer-social li {
  margin-right: 10px;
}

.footer-social a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  color: #fff;
  border-radius: 50%;
  background-color: #000000;
  font-size: 20px;
  transition: background-color 0.3s;
  text-decoration: none;
}

.footer-social a:hover {
  background-color: #fff;
  color: #333;
}
/* Estilos para pantallas de escritorio */
@media only screen and (min-width: 768px) {
  .barra-reproduccion {
    left: 0;
    bottom: 0;
    margin: 0 0 5px 5px;
    width: 300px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
/* Estilos para dispositivos móviles */
@media only screen and (max-width: 767px) {
  .barra-reproduccion {
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
  }
}

@media (max-width: 768px) {
  body {
    padding: 0px 0;
  }
  .header {
    background-color: #ffffff;
    height: 60px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
  }
  .logo {
    font-size: 30px;
    font-weight: bold;
    padding: 0 20px;
    height: 60px;
  }
  .nav {
    justify-content: space-between;
  }
  .nav-menu {
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    background-color: #ffffff;
    position: fixed;
    left: 0;
    top: 60px;
    width: 100%;
    padding: 20px 0;

    height: calc(100% - 60px);
    overflow-y: auto;

    left: 100%;
    transition: left 0.3s;
  }
  .nav-menu-item {
    font-size: 18px;
    margin: 0 10px;
    line-height: 70px;
    text-transform: uppercase;
    width: max-content;
  }
  .nav-menu-link:hover,
  .nav-menu-link_active {
    background: none;
    color: #83c5f7;
    transition: 0.5s;
  }
  .nav-toggle {
    display: block;
  }
  .nav-menu_visible {
    left: 0;
  }

  .imagen-del-dia {
    height: 600px;
    padding-top: 0px;
  }
  .imagen-del-dia img {
    max-width: 100%;
  }
  .imagen-del-dia h1 {
    margin-bottom: 50px;
    font-size: 30px;
  }

  .events h1 {
    margin-bottom: 50px;
    font-size: 30px;
  }
  .slider {
    margin-top: 25px;
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
  }
  .slider-wrapper img {
    height: auto;
    object-fit: cover;
  }

  .slider-prev,
  .slider-next {
    display: block;
  }

  /* targetas de presentacion */
  .profile {
    display: flex;
    flex-direction: column;
    height: max-content;
  }
  .profile-img {
    margin: 30px 0 0 0;
    padding: 0;
    border-radius: 25%;
    height: 200px;
    width: 200px;
  }
  .profile-container {
    display: flex;
    align-items: center;
    padding: 0 25px 0 25px;
    margin: 0 0 10px 0;
  }
  .profile-container p,
  h1,
  h2 {
    text-align: justify;
    margin: 0;
    padding: 0;
  }

  footer {
    background-color: #000000;
    color: #fff;
    padding: 40px 0;
    height: 500px;
  }
  .container-footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .footer-info h3,
  .footer-social h3 {
    margin-bottom: 20px;
  }
  .footer-info p {
    margin: 0;
  }
  .footer-social ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
  }
  .footer-social li {
    margin-right: 10px;
  }
  .footer-social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    color: #fff;
    border-radius: 50%;
    background-color: #000000;
    font-size: 20px;
    transition: background-color 0.3s;
  }
  .footer-social a:hover {
    background-color: #fff;
    color: #333;
  }
}
